---
import Layout from "../../../../layouts/Layout.astro";
import ManufacturerCategoryPage from "../../../../layouts/ManufacturerCategoryPage.astro";
import { Breadcrumb } from "astro-bootstrap";
import { makeUrl } from "../../../../libs/url";

import {
  categoryRepository,
  manufacturerRepository,
  productRepository,
  siteRepository,
} from "../../../../content";

export async function getStaticPaths() {
  const languages = siteRepository.getAvailableLanguages().map((l) => l.code);
  const paths = [];

  for (const lang of languages) {
    const marttiini = await manufacturerRepository.get("marttiini", lang);
    const manufacturers = [marttiini];

    for (const manufacturer of manufacturers) {
      const categories = await categoryRepository.findManufacturerCategories(
        manufacturer.id,
        lang
      );

      for (const category of categories) {
        const products = await productRepository.findCategoryProducts(
          manufacturer.id,
          category.slug,
          lang
        );

        paths.push({
          params: {
            lang,
            manufacturer: manufacturer.id,
            category: category.slug,
          },
          props: {
            manufacturer,
            category,
            products,
          },
        });
      }
    }
  }

  return paths;
}

const { lang } = Astro.params;
const { manufacturer, category, products } = Astro.props;

const socials = siteRepository.getSocialAccounts();
const owner = siteRepository.getSiteOwner();
const languages = siteRepository.getAvailableLanguages();
const currentLanguage = siteRepository.getLanguage(lang);
const navigationItems = siteRepository.getNavigationItems(lang);
const allNavigationItems = siteRepository.getAllNavigationItems();
const t = siteRepository.getTranslator(lang);

---

<Layout
  title={manufacturer.name}
  {lang}
  {socials}
  {owner}
  {languages}
  {currentLanguage}
  {navigationItems}
  {allNavigationItems}
>
  <Breadcrumb>
    <Breadcrumb.Item>
      <a href={makeUrl(Astro, { targetLocale: lang, path: "/" })}>
        {t("nav.home")}
      </a>
    </Breadcrumb.Item>
    <Breadcrumb.Item>
      <a href={makeUrl(Astro, { targetLocale: lang, path: manufacturer.id })}>
        {manufacturer.name}
      </a>
    </Breadcrumb.Item>
  </Breadcrumb>

  <ManufacturerCategoryPage
    manufacturer={manufacturer}
    category={category}
    products={products}
  />
</Layout>
