---
import { miscRepository, categoryRepository } from "../content";
import FooterSection from "./FooterSection.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const downloadables = miscRepository.findDownloadableOffers();
const businessPartners = miscRepository.findBusinessPartners();
const socialAccounts = miscRepository.findSocialAccounts();
const mc = await categoryRepository.findCategories("marttiini", lang);

const marttiini = mc.map((category) => {
  return {
    label: category.name,
    url: category.link,
    target: "_self",
  };
});
---

<footer class="bg-dark text-white py-4 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md">
        <FooterSection
          title={t("footer.downloadable-offers")}
          links={downloadables}
        />
      </div>

      <div class="col-12 col-md">
        <FooterSection
          title={t("footer.business-partners")}
          links={businessPartners.map((partner) => partner.link)}
        />
      </div>

      <div class="col-12 col-md">
        <FooterSection
          title={'Marttiini'}
          links={marttiini}
        />
      </div>

      <div class="col-12 col-md">
        <FooterSection title={t("footer.social-accounts")}>
          {
            socialAccounts.map((account) => (
              <li class="list-group-item bg-transparent border-0">
                <a
                  href={account.url}
                  class="fs-6 link-underline link-underline-opacity-0 text-white"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class={account.icon} />
                  {account.name}
                </a>
              </li>
            ))
          }
        </FooterSection>
      </div>
    </div>
  </div>
</footer>
