---
import { CldImage } from "astro-cloudinary";
import type { ContentProduct } from "../content/product.repository";

interface Props {
  product: ContentProduct;
  badge?: { text: string; color: string };
}

const { product, badge } = Astro.props;
---

<div class="card shadow border-0 rounded-0 p-0">
  {
    badge && (
      <div class="position-absolute top-0 start-0">
        <span class={`badge text-bg-${badge.color} rounded-0`}>
          {badge.text}
        </span>
      </div>
    )
  }

  {
    product.images?.[0] && (
      <CldImage
        src={product.images[0]}
        width={300}
        height={400}
        crop={"pad"}
        class="card-img-top rounded-0 object-fit-contain"
        loading="eager"
        sizes="(max-width: 576px) 100vw, (max-width: 768px) 50vw, (max-width: 992px) 33vw, 400px"
      />
    )
  }

  <div class="card-body">
    <h5 class="card-title fs-6 fw-semibold">{product.name}</h5>
    <a href={product.link} class="text-decoration-none stretched-link"></a>
  </div>
</div>
