---
import Slider, { type SliderItem } from "../components/ui/Slider.astro";
import type { Manufacturer } from "../content/manufacturer.repository";
import type { Product } from "../content/product.repository";
import Section from "../components/ui/Section.astro";
import ProductCard from "../components/product/ProductCard.astro";
import type { MossaicPicture } from "../content/site.repository";
import { CldImage } from "astro-cloudinary";
import { siteRepository } from "../content";
import OfficialDistributor from "../components/OfficialDistributor.astro";
import Grid from "../components/utils/Grid.astro";
import GridItem from "../components/utils/GridItem.astro";
import Page from "../components/utils/Page.astro";

export type Props = {
  manufacturers: Manufacturer[];
  newProducts: Product[];
  sliderItems: SliderItem[];
  mossaicImages: MossaicPicture[];
  lang: string;
};

const { manufacturers, newProducts, sliderItems, mossaicImages, lang } =
  Astro.props;

const t = siteRepository.getTranslator(lang);
---

<Page id="frontPage" gap={5}>
  <Section id="promoSlider">
    <Slider items={sliderItems} />
  </Section>

  <Section id="officialDistributor" heading={t("headings.official-distributor")} divider={true}>
    <Grid cols={{ xs: 1, md: 2 }} gap={4} animate="animate-stagger">
      {manufacturers.map((manufacturer) => (
        <GridItem>
          <OfficialDistributor manufacturer={manufacturer} />
        </GridItem>
      ))}
    </Grid>
  </Section>

  <Section id="newInOffer" heading={t("headings.new-in-offer")} divider={true}>
    <Grid cols={{ xs: 1, md: 3 }} gap={3} animate="animate-stagger">
      {newProducts.map((product) => (
        <GridItem>
          <ProductCard 
            product={product} 
            label={{ 
              text: t("products.new"), 
              colorClass: "badge bg-success rounded-0" 
            }} 
          />
        </GridItem>
      ))}
    </Grid>
  </Section>

  <Section id="passionMossaic" heading={t("headings.passion")} divider={true}>
    <Grid cols={{ xs: 2, md: 4 }} gap={3} animate="animate-stagger">
      {mossaicImages.map((image) => (
        <GridItem>
          <CldImage
            src={image.image_url}
            alt="Mossaic image"
            width={300}
            height={300}
            crop="fill"
            class="w-100 h-auto object-fit"
          />
        </GridItem>
      ))}
    </Grid>
  </Section>
</Page>
