---
import Slider, { type SliderItem } from "../components/ui/Slider.astro";
import type { Manufacturer } from "../content/manufacturer.repository";
import type { Product } from "../content/product.repository";
import Section from "../components/ui/Section.astro";
import ProductCard from "../components/product/ProductCard.astro";
import type { MossaicPicture } from "../content/site.repository";
import { CldImage } from "astro-cloudinary";
import { siteRepository } from "../content";
import OfficialDistributor from "../components/OfficialDistributor.astro";

export type Props = {
  manufacturers: Manufacturer[];
  newProducts: Product[];
  sliderItems: SliderItem[];
  mossaicImages: MossaicPicture[];
  lang: string;
};

const { manufacturers, newProducts, sliderItems, mossaicImages, lang } =
  Astro.props;

const order = ["marttiini", "sarsilmaz", "eley-hawk", "eley"];
const t = siteRepository.getTranslator(lang);
---

<div id="frontPage">
  <section class="promo-slider py-3">
    <Slider items={sliderItems} />
  </section>

  <Section heading={t("headings.official-distributor")} divider={true}>
    <div class="row row-cols-2 g-4 animate-stagger">
      {
        order.map((id) => {
          const manufacturer = manufacturers.find((m) => m.id === id);
          if (!manufacturer) return null;
          return (
            <div class="col">
              <OfficialDistributor manufacturer={manufacturer} />
            </div>
          );
        })
      }
    </div>
  </Section>

  <Section heading={t("headings.new-in-offer")}>
    <div class="row">
      {
        newProducts.map((product) => (
          <div class="col-6 col-md-2 col-lg-3 mb-4">
            <ProductCard {product} />
          </div>
        ))
      }
    </div>
  </Section>

  <Section heading={t("headings.passion")}>
    <div class="row g-3">
      {
        mossaicImages.map((image) => (
          <div class="col-6 col-md-4 col-lg-3">
            <CldImage
              src={image.image_url}
              alt={"Mossaic image"}
              width={300}
              height={300}
              crop="fill"
              class="w-100 h-auto object-fit"
            />
          </div>
        ))
      }
    </div>
  </Section>
</div>
