---
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-icons/font/bootstrap-icons.css";
import "../styles/animations.css";
import "../styles/components/card.css";
import "../styles/components/footer.css";
import "../styles/components/frontpage.css";

import Header from "../components/ui/Header.astro";
import Footer from "../components/ui/Footer.astro";

import { getCloudinaryUrl } from "../libs/cloudinary";
import type { SocialAccount, AvailableLanguage, NavigationItem, SiteOwner } from "../content/site.repository";

const faviconUrl = getCloudinaryUrl("tomjan/grey-hunter-logo-01");

interface Props {
  title: string;
  mainClass?: string;
  lang: string;
  socials: SocialAccount[];
  owner: SiteOwner;
  languages: AvailableLanguage[];
  currentLanguage: AvailableLanguage;
  navigationItems: NavigationItem[];
  currentId?: string;
  allNavigationItems: Record<string, NavigationItem[]>;
}

const { title, mainClass, lang, socials, owner, languages, currentLanguage, navigationItems, currentId, allNavigationItems } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Tomasz Jantos - Grey Hunter" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={faviconUrl} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="d-flex flex-column min-vh-100 bg-light">
    <Header {lang} {socials} {languages} {currentLanguage} {navigationItems} {currentId} {allNavigationItems} />
    <main class={"container flex-grow-1 py-4 " + (mainClass ?? "")}>
      <slot />
    </main>
    <Footer {lang} {owner} {socials} />
    <script>
      import "bootstrap/js/dist/carousel";
      import "bootstrap/dist/js/bootstrap.bundle.min.js";
    </script>
  </body>
</html>
