---
import Logo from "./Logo.astro";
import LanguageSelector from "./LanguageSelector.astro";
import Socials from "./Socials.astro";
import Navigation from "./Navigation.astro";

import { siteRepository } from "../../content";
import type { SocialAccount } from "../../content/site.repository";

export type Props = {
  lang: string;
  socials: SocialAccount[];
};

const { lang, socials } = Astro.props;
const languages = siteRepository.getAvailableLanguages();
const currentLanguage = siteRepository.getLanguage(lang);
const navigationItems = siteRepository.getNavigationItems(lang);
---

<header class="ui-header container-fluid px-0">
  <div class="socials-container bg-dark">
    <Socials socials={socials} />
  </div>
  <div class="container d-flex justify-content-between align-items-center py-2">
    <Logo />
    <div class="d-flex align-items-center gap-3">
      <LanguageSelector {languages} {currentLanguage} />
    </div>
  </div>
  <div class="container-fluid bg-light border-bottom py-3">
    <div class="container">
      <Navigation {lang} {navigationItems} />
    </div>
  </div>
</header>
<div class="container-fluid bg-secondary text-center py-1 shadow-sm">
  <span class="text-white fw-bold">GREY HUNTER</span>
</div>
