---
import type { AttributeGroup } from "../../content/product.repository";
import Attribute from "./Attribute.astro";

export type Props = {
  group: AttributeGroup;
  title?: string;
  titleClass?: string;
  attributesClass?: string;
};

const { title, group, titleClass, attributesClass } = Astro.props;
---

<div class="attribute-group">
  {title && 
    <h6 class={`h6 fw-bold ${titleClass}`}>
        {title}
    </h6>
  }
  {
    group.properties && group.properties.map((attr) => (
        <>
          {typeof attr === "string" ? (
            <Attribute value={attr} className={attributesClass} />
          ) : (
            <Attribute name={attr.name} value={attr.value} className={attributesClass} />
          )}
        </>
      ))
  }
</div>
